{namespace sf=Romm\SiteFactory\ViewHelpers}

<f:be.container>
	<sf:be.importAsset
		jsFiles="{
			0: 'EXT:site_factory/Resources/Public/Contrib/twitter-bootstrap/js/bootstrap.min.js',
			1: 'EXT:site_factory/Resources/Public/JavaScript/SiteFactory.Main.js',
			2: 'EXT:site_factory/Resources/Public/JavaScript/SiteFactory.FadeOut.js'
		}"
		cssFiles="{
			0: 'EXT:site_factory/Resources/Public/Contrib/twitter-bootstrap/css/bootstrap.min.css',
			1: 'EXT:site_factory/Resources/Public/Contrib/twitter-bootstrap/css/bootstrap-theme.min.css',
			2: 'EXT:site_factory/Resources/Public/StyleSheets/site-factory.css'
		}"
	/>

	<script type="text/javascript">
		var pathSite = '{pathSite}';
		SiteFactory.ajaxUrl = "{f:uri.action(controller: 'Ajax', action: 'dispatch')}";
	</script>

	<div class="typo3-fullDoc">
		<f:form id="submitSiteFactoryForm" class="form-horizontal" additionalAttributes="{role: 'form'}">
			<f:form.hidden id="hidden-form-submit" name="submitted" value="0" />
			<div id="typo3-docheader">
				<div class="typo3-docheader-buttons" style="box-sizing: initial; -moz-box-sizing: initial;">
					<div class="left">
						<div class="buttongroup">
							<f:render section="headerButtons" optional="1" />
						</div>
					</div>
					<div class="right">
						<f:be.buttons.shortcut />
					</div>
				</div>
			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody" class="news-administration">
					<f:render section="content" />
				</div>
			</div>
		</f:form>
	</div>
</f:be.container>