{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace sf=Romm\SiteFactory\ViewHelpers}

<f:layout name="Backend/Default" />

##############################

The index page of the module, which contains:
 - A list of all the model sites
 - A list of all the already duplicated sites

Useful variables:
 - {modelSitesList}: array of model sites.
 - {savedSites}: array of already duplicated sites.

<f:section name="content">
	<div class="container">
		<div class="text-center">
			<f:image src="EXT:site_factory/ext_icon.png" alt="Site Factory" />
		</div>

		<h1>
			<span class="glyphicon glyphicon-hand-right"></span>
			<f:translate key="index.header_title" />
		</h1>

		<hr />

		<p><f:translate key="index.global_description" /></p>

		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-question-sign"></span>&nbsp;<f:translate key="index.get_help" /> <f:link.action action="help"><f:translate key="index.click_here" /></f:link.action>.
		</div>

		<hr />

		<f:if condition="{modelSitesList}">
			<f:then>
				<f:render partial="Index/ModelSitesList" arguments="{_all}" />

				<hr />

				<f:link.action action="new" class="btn btn-primary btn-lg button-create-site">
					<span class="glyphicon glyphicon-plus-sign"></span>
					<f:translate key="index.create_new_site" />
				</f:link.action>
			</f:then>
			<f:else>
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<f:translate key="misc.no_model_site" />
				</div>
			</f:else>
		</f:if>

		<hr />

		<h2><f:translate key="index.duplicated_sites_list" /></h2>

		<f:if condition="{savedSites}">
			<f:then>
				<f:render partial="Index/DuplicatedSitesList" arguments="{_all}" />
			</f:then>
			<f:else>
				<div class="alert alert-info">
					<span class="glyphicon glyphicon-info-sign"></span>&nbsp;<f:translate key="index.no_site_duplicated" />&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
				</div>
			</f:else>
		</f:if>
	</div>

</f:section>

##############################

Contains the buttons which will appear in the header menu.

<f:section name="headerButtons">
	<f:link.action action="new" title="{f:translate(key: 'index.create_new_site')}">
		<core:icon identifier="actions-document-new" />
	</f:link.action>

	<f:comment>
	<f:link.action action="help" title="{f:translate(key: 'module.header_buttons.help')}">
		<core:icon identifier="actions-document-info" />
	</f:link.action>
	</f:comment>
</f:section>
