{namespace sf=Romm\SiteFactory\ViewHelpers}

<f:layout name="Backend/Default" />

##############################

Page containing the form to create/edit a site.
Fields will be created dynamically, using the configuration which declares the fields options.

Useful variables:
 - {formId}: a unique id given to the form, which allows to instantiate several form if needed.
 - {fieldsConfiguration}: array containing all the fields and their configuration.
 - {refreshForm}: if true, the form might be refreshed after the page is loaded.

<f:section name="content">
	<sf:be.importAsset
		jsFiles="{
			0: 'EXT:site_factory/Resources/Public/JavaScript/SiteFactory.Form.js',
			1: 'EXT:site_factory/Resources/Public/JavaScript/SiteFactory.Menu.js',
			2: 'EXT:site_factory/Resources/Public/JavaScript/SiteFactory.Field.js'
		}"
	/>

	<script type="text/javascript">
		window['{formId}'] = new SiteFactory.Form.Instance('{formId}');
		var preventWindowClosing = '<f:translate key="form.prevent_window_closing" />';
	</script>

	<f:if condition="{refreshForm}">
		<script type="text/javascript">
			var refreshForm = true;
		</script>
	</f:if>

	<div id="{formId}">

		<f:form.hidden name="action" additionalAttributes="{field-name: 'action'}" value="" />

		<f:if condition="{modifySite}">
			<f:form.hidden name="modifySite" value="{modifySite}" additionalAttributes="{data-name: 'modifySiteId'}" />
		</f:if>
		<f:form.hidden name="changeModelSiteId" value="0" additionalAttributes="{data-name: 'changeModelSiteId'}" />

		<f:for each="{fieldsConfiguration}" as="field">
			<sf:be.importAsset jsFiles="{field.javaScriptFilesNewAction}" cssFiles="{field.cssFilesNewAction}" />

			<f:if condition="{field.partialsHeader}">
				<f:for each="{field.partialsHeader}" as="partialHeader">
					<f:render partial="{partialHeader}" />
				</f:for>
			</f:if>
		</f:for>

		<f:render partial="New/FormStaticMenu" arguments="{_all}" />

		<div class="panel-group col-sm-8 col-xs-12">
			<h1>
				<f:if condition="{modifySite}">
					<f:then>
						<f:translate key="form.header_title_modification" arguments="{s: fieldsConfiguration.siteTitle.value}" />
					</f:then>
					<f:else>
						<f:translate key="form.header_title_creation" />
					</f:else>
				</f:if>
			</h1>

			<hr />

			<f:if condition="{fieldsConfiguration}">
				<f:then>
					<f:if condition="{noModelSite}">
						<f:then>
							<div class="alert alert-warning">
								<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<f:translate key="misc.no_model_site" />
							</div>
						</f:then>
						<f:else>
							<f:render partial="New/Pannels" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<f:translate key="form.no_fields_configuration" />
					</div>
				</f:else>
			</f:if>
		</div>

	</div>
</f:section>

##############################

Contains the buttons which will appear in the header menu.

<f:section name="headerButtons">
	<f:be.buttons.icon uri="{f:uri.action(action: 'index')}" icon="actions-document-close" title="{f:translate(key: 'module.header_buttons.index')}" />
	<f:be.buttons.icon uri="{f:uri.action(action: 'new')}" icon="actions-document-new" title="{f:translate(key: 'module.header_buttons.new')}" />
	<!--<f:be.buttons.icon uri="{f:uri.action(action: 'help')}" icon="actions-document-info" title="{f:translate(key: 'module.header_buttons.help')}" />-->
	<f:if condition="{fieldsConfiguration}">
		<f:be.buttons.icon uri="#" additionalAttributes="{onclick: 'window[\'{formId}\'].submit(\'new\');'}" icon="actions-document-save" title="{f:translate(key: 'module.header_buttons.save')}" />

		<span class="static-site-name">
			<f:be.buttons.icon icon="status-status-current" />
			<span class="content"></span>
		</span>
	</f:if>
</f:section>